# PyCity Schools Analysis

* As a whole, schools with higher budgets, did not yield better test results. By contrast, schools with higher spending per student actually (\$645-675) underperformed compared to schools with smaller budgets (<\$585 per student).

* As a whole, smaller and medium sized schools dramatically out-performed large sized schools on passing math performances (89-91% passing vs 67%).

* As a whole, charter schools out-performed the public district schools across all metrics. However, more analysis will be required to glean if the effect is due to school practices or the fact that charter schools tend to serve smaller student populations per school. 
---

### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas Data Frames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])

## District Summary

* Calculate the total number of schools

* Calculate the total number of students

* Calculate the total budget

* Calculate the average math score 

* Calculate the average reading score

* Calculate the overall passing rate (overall average score), i.e. (avg. math score + avg. reading score)/2

* Calculate the percentage of students with a passing math score (70 or greater)

* Calculate the percentage of students with a passing reading score (70 or greater)

* Create a dataframe to hold the above results

* Optional: give the displayed data cleaner formatting

In [2]:

number_school=school_data["School ID"].count()
number_school

15

In [16]:
number_student=student_data["Student ID"].count()
number_student='{:20,.0f}'.format(number_student)
number_student

'              39,170'

In [19]:
budget_total=school_data["budget"].sum()
budget_total='{:20,.2f}'.format(budget_total)
budget_total="$"+str(budget_total)
budget_total

'$       24,649,428.00'

In [5]:
math_score_average=student_data["math_score"].mean()
math_score_average

78.98537145774827

In [6]:
reading_score_average=student_data["reading_score"].mean()
reading_score_average

81.87784018381414

In [7]:
math_passing=student_data["math_score"].loc[student_data["math_score"]>=70].count()/student_data["math_score"].count()
math_passing

0.749808526933878

In [8]:
reading_passing=student_data["reading_score"].loc[student_data["reading_score"]>=70].count()/student_data["reading_score"].count()
reading_passing

0.8580546336482001

In [9]:
overall_passing=(math_passing+reading_passing)/2

In [28]:
District_Summary=pd.DataFrame({'Total Schools':number_school,'Total Students':number_student,'Total Budget':budget_total,'Average Math Score':math_score_average,'Average Reading Score':reading_score_average,"% Passing Math":math_passing, "% Passing Reading":reading_passing,"% Overall Passing Rate":overall_passing},index=[0])
District_Summary

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
0,15,"39,170","$ 24,649,428.00",78.985371,81.87784,0.749809,0.858055,0.803932

## School Summary

In [29]:
school_data.head()

   School ID            school_name      type  size   budget
0          0      Huang High School  District  2917  1910635
1          1   Figueroa High School  District  2949  1884411
2          2    Shelton High School   Charter  1761  1056600
3          3  Hernandez High School  District  4635  3022020
4          4    Griffin High School   Charter  1468   917500

In [3]:
student_data.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score
0,0,Paul Bradley,M,9th,Huang High School,66,79
1,1,Victor Smith,M,12th,Huang High School,94,61
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58
4,4,Bonnie Ray,F,9th,Huang High School,97,84

* Create an overview table that summarizes key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)
  
* Create a dataframe to hold the above results

In [50]:
School=student_data.groupby(["school_name"])
Total_Students=School["student_name"].count()
Average_Math=School["math_score"].mean()
Average_Reading=School["reading_score"].mean()
student_math_passing=student_data.loc[student_data["math_score"]>=70]
School_math_passing=student_math_passing.groupby(["school_name"])
Math_Passing=School_math_passing["student_name"].count()/School["student_name"].count()
student_reading_passing=student_data.loc[student_data["reading_score"]>=70]
School_reading_passing=student_reading_passing.groupby(["school_name"])
Reading_Passing=School_reading_passing["student_name"].count()/School["student_name"].count()
Overall_Passing=(Math_Passing+Reading_Passing)/2
test=pd.DataFrame({"Total Students":Total_Students,"Average Math Score":Average_Math,"Average Reading Score":Average_Reading,"% Passing Math":Math_Passing,"% Passing Reading":Reading_Passing, "Overall Passing Rate": Overall_Passing})
school_part_data=school_data[["school_name","type","budget"]]
school_part_data.head()
school_summary=pd.merge(school_part_data,test,on="school_name",how="outer")
school_summary["Per Student Budget"]=school_summary["budget"]/school_summary["Total Students"]
school_summary.set_index('school_name')
school_summary.head()

,school_name,type,budget,Total Students,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,Overall Passing Rate,Per Student Budget
0,Huang High School,District,1910635,2917,76.629414,81.182722,0.656839,0.813164,0.735002,655.0
1,Figueroa High School,District,1884411,2949,76.711767,81.158020,0.659885,0.807392,0.733639,639.0
2,Shelton High School,Charter,1056600,1761,83.359455,83.725724,0.938671,0.958546,0.948609,600.0
3,Hernandez High School,District,3022020,4635,77.289752,80.934412,0.667530,0.808630,0.738080,652.0
4,Griffin High School,Charter,917500,1468,83.351499,83.816757,0.933924,0.971390,0.952657,625.0

## Top Performing Schools (By Passing Rate)

* Sort and display the top five schools in overall passing rate

In [52]:
top=school_summary.sort_values(by=['Overall Passing Rate'],ascending=False)
top=top.reset_index()
top.head()

,index,school_name,type,budget,Total Students,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,Overall Passing Rate,Per Student Budget
0,6,Cabrera High School,Charter,1081356,1858,83.061895,83.975780,0.941335,0.970398,0.955867,582.0
1,14,Thomas High School,Charter,1043130,1635,83.418349,83.848930,0.932722,0.973089,0.952905,638.0
2,9,Pena High School,Charter,585858,962,83.839917,84.044699,0.945946,0.959459,0.952703,609.0
3,4,Griffin High School,Charter,917500,1468,83.351499,83.816757,0.933924,0.971390,0.952657,625.0
4,5,Wilson High School,Charter,1319574,2283,83.274201,83.989488,0.938677,0.965396,0.952037,578.0

## Bottom Performing Schools (By Passing Rate)

* Sort and display the five worst-performing schools

In [53]:
bottom=school_summary.sort_values(by=['Overall Passing Rate'],ascending=True)
bottom=bottom.reset_index()
bottom.head()

,index,school_name,type,budget,Total Students,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,Overall Passing Rate,Per Student Budget
0,11,Rodriguez High School,District,2547363,3999,76.842711,80.744686,0.663666,0.802201,0.732933,637.0
1,1,Figueroa High School,District,1884411,2949,76.711767,81.158020,0.659885,0.807392,0.733639,639.0
2,0,Huang High School,District,1910635,2917,76.629414,81.182722,0.656839,0.813164,0.735002,655.0
3,12,Johnson High School,District,3094650,4761,77.072464,80.966394,0.660576,0.812224,0.736400,650.0
4,13,Ford High School,District,1763916,2739,77.102592,80.746258,0.683096,0.792990,0.738043,644.0

## Math Scores by Grade

* Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

  * Create a pandas series for each grade. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

In [62]:
student_data_9th=student_data.loc[student_data["grade"]=="9th"]
school_9th=student_data_9th.groupby(["school_name"])
math_9th=school_9th["math_score"].mean()
student_data_10th=student_data.loc[student_data["grade"]=="10th"]
school_10th=student_data_10th.groupby(["school_name"])
math_10th=school_9th["math_score"].mean()
student_data_11th=student_data.loc[student_data["grade"]=="11th"]
school_11th=student_data_11th.groupby(["school_name"])
math_11th=school_11th["math_score"].mean()
student_data_12th=student_data.loc[student_data["grade"]=="12th"]
school_12th=student_data_12th.groupby(["school_name"])
math_12th=school_12th["math_score"].mean()
Math_By_Grade=pd.DataFrame({"9th":math_9th,"10th":math_10th,"11th":math_11th,"12th":math_12th})
Math_By_Grade.head()

                            9th       10th       11th       12th
school_name
Bailey High School    77.083676  77.083676  77.515588  76.492218
Cabrera High School   83.094697  83.094697  82.765560  83.277487
Figueroa High School  76.403037  76.403037  76.884344  77.151369
Ford High School      77.361345  77.361345  76.918058  76.179963
Griffin High School   82.044010  82.044010  83.842105  83.356164

## Reading Score by Grade

* Perform the same operations as above for reading scores

In [64]:
reading_9th=school_9th["reading_score"].mean()
reading_10th=school_10th["reading_score"].mean()
reading_11th=school_11th["reading_score"].mean()
reading_12th=school_12th["reading_score"].mean()
Reading_By_Grade=pd.DataFrame({"9th":reading_9th,"10th":reading_10th,"11th":reading_11th,"12th":reading_12th})
Reading_By_Grade.head()

                            9th       10th       11th       12th
school_name
Bailey High School    81.303155  80.907183  80.945643  80.912451
Cabrera High School   83.676136  84.253219  83.788382  84.287958
Figueroa High School  81.198598  81.408912  80.640339  81.384863
Ford High School      80.632653  81.262712  80.403642  80.662338
Griffin High School   83.369193  83.706897  84.288089  84.013699

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

In [66]:
# Sample bins. Feel free to create your own bins.
spending_bins = [0, 585, 615, 645, 675]
group_names = ["<$585", "$585-615", "$615-645", "$645-675"]

In [76]:
school_summary["spending group"] = pd.cut(school_summary['Per Student Budget'], bins=spending_bins, labels=group_names)
group=school_summary.groupby(["spending group"])
Average_Math=group["Average Math Score"].mean()
Average_Reading=group["Average Reading Score"].mean()
Math_Passing=group["% Passing Math"].mean()
Reading_Passing=group["% Passing Reading"].mean()
Overall_Passing=group["Overall Passing Rate"].mean()

Spending_Group_Summary=pd.DataFrame({"Average Math Score":Average_Math,"Average Reading Score": Average_Reading, "% Passing Math": Math_Passing, "% Passing Reading":Reading_Passing, "Overall Passing Rate": Overall_Passing})
Spending_Group_Summary.head()

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,Overall Passing Rate
spending group,,,,,
<$585,83.455399,83.933814,0.934601,0.966109,0.950355
$585-615,83.599686,83.885211,0.942309,0.959003,0.950656
$615-645,79.079225,81.891436,0.756682,0.861066,0.808874
$645-675,76.997210,81.027843,0.661648,0.811340,0.736494

## Scores by School Size

* Perform the same operations as above, based on school size.

In [77]:
# Sample bins. Feel free to create your own bins.
size_bins = [0, 1000, 2000, 5000]
group_names = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]

In [79]:
school_summary["school size"] = pd.cut(school_summary['Total Students'], bins=size_bins, labels=group_names)
group=school_summary.groupby(["school size"])
Average_Math=group["Average Math Score"].mean()
Average_Reading=group["Average Reading Score"].mean()
Math_Passing=group["% Passing Math"].mean()
Reading_Passing=group["% Passing Reading"].mean()
Overall_Passing=group["Overall Passing Rate"].mean()

Size_Group_Summary=pd.DataFrame({"Average Math Score":Average_Math,"Average Reading Score": Average_Reading, "% Passing Math": Math_Passing, "% Passing Reading":Reading_Passing, "Overall Passing Rate": Overall_Passing})
Size_Group_Summary.head()

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,Overall Passing Rate
school size,,,,,
Small (<1000),83.821598,83.929843,0.935502,0.960994,0.948248
Medium (1000-2000),83.374684,83.864438,0.935997,0.967907,0.951952
Large (2000-5000),77.746417,81.344493,0.699634,0.827666,0.763650

## Scores by School Type

* Perform the same operations as above, based on school type.

In [80]:
group=school_summary.groupby(["type"])
Average_Math=group["Average Math Score"].mean()
Average_Reading=group["Average Reading Score"].mean()
Math_Passing=group["% Passing Math"].mean()
Reading_Passing=group["% Passing Reading"].mean()
Overall_Passing=group["Overall Passing Rate"].mean()

Type_Group_Summary=pd.DataFrame({"Average Math Score":Average_Math,"Average Reading Score": Average_Reading, "% Passing Math": Math_Passing, "% Passing Reading":Reading_Passing, "Overall Passing Rate": Overall_Passing})
Type_Group_Summary.head()

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,Overall Passing Rate
type,,,,,
Charter,83.473852,83.896421,0.936208,0.965865,0.951037
District,76.956733,80.966636,0.665485,0.807991,0.736738